<!--===== HOME =====-->
<section class="home bd-grid" id="home" wmAnimate="fadeIn" speed="slow" aos once="true">
  <div class="home__data">
    <h1 class="home__title">Hi,<br>I'am <span class="home__title-color">Guilherme</span><br> Web Developer</h1>

    <a href="#contact" class="button">Contact</a>
  </div>

  <div class="home__social">
    <a href="https://www.linkedin.com/in/guilherme-nogueira-s/" class="home__social-icon"><i class='bx bxl-linkedin'></i></a>
    <a href="https://www.instagram.com/gui.r13/" class="home__social-icon"><i class='bx bxl-instagram'></i></a>
    <a href="https://github.com/nogueira-gui" class="home__social-icon"><i class='bx bxl-github'></i></a>
  </div>

  <div class="home__img">
    <img src="../../../assets/img/me.jpg" alt="">
  </div>
</section>
