<div class="page">
  <app-header class="animate-view" wmAnimateView useElement cdkScrollable></app-header>
  <app-home class="animate-view" wmAnimateView useElement cdkScrollable></app-home>
  <app-about class="animate-view" wmAnimateView useElement cdkScrollable></app-about>
  <app-skills class="animate-view" wmAnimateView useElement cdkScrollable></app-skills>
  <app-work class="animate-view" wmAnimateView useElement cdkScrollable></app-work>
  <app-contact class="animate-view" wmAnimateView useElement cdkScrollable></app-contact>
</div>
